{{#section 'css'}}

<link href="/css/fileinput.min.css" rel="stylesheet" type="text/css">

{{/section}}

{{#section 'js'}}
<script src="/plugins/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/plugins/tinymce/js/tinymce/themes/silver/theme.min.js"></script>
<script src="/js/wysiwyg/fileinput.min.js"></script>

<script src="/mfunctions/functions.js"></script>
<script>
    $(function () {

        $('#fuMain').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadClass: 'btn btn-success',
            uploadAsync: false,
            showCaption: true,
            showPreview: true,
            showRemove: true,
            showUpload: false, // <------ just set this from true to false
            showCancel: true,
            showUploadedThumbs: true,
            {{!-- uploadUrl: '/upload', --}}
        });

    tinymce.init({
        selector: "#content",
        menubar: false,
        height: 600,
        plugins: 'paste image link autolink lists table media',
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor',
            'table link image media',
            // 'paste'
        ],
        image_caption: true,
        entity_encoding: "raw",
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });
    })

</script>

{{/section}}

<form action="" method="POST">
    <div class="card shadow">
        <h5 class="card-header">
            New Post
        </h5>
            <input hidden name="writer_name" value="{{this.writer}}">
        <div class="card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <div class="">
                    <input id="title" name="title" required class="form-control" onkeyup="ChangeToSlug();" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="title">Slug Title</label>
                <div class="">
                    <input id="slug" required name="slug" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="category" class="form-control" onchange="ChangeCatList(this)">
                    <option value="0">--</option>
                    {{#each this.categories}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <script>
                // Hàm xử lý khi thẻ select thay đổi giá trị được chọn
                // obj là tham số truyền vào
                // và cũng chính là thẻ select
                function ChangeCatList(obj) {

                    //alert(obj.value);
                    //return obj.value;
                }
            </script>
            <div class="form-group">
                <label for="category">Sub Category</label>
                <select id="subcategory" name="subcategory" class="form-control">
                    <option value="0">--</option>
                    {{#each this.subcategories}}
                    {{#each ../categories}}
                    {{#eq ../id_category id}}
                    <option value="{{id}}"> Cat: {{name}} -- Sub: {{../name}}
                    </option>
                    {{/eq}}
                    {{/each}}
                    {{/each}}
                </select>
            </div>


            <div class="form-group">
                <label for="fuMain">Photo:</label>
                <div class="file-loading">
                    <input id="fuMain" name="fuMain" type="file" multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Tags
                </div>
                <div class="">
                    <div class="card-body">
                        <div>
                            {{!-- <a class="btn btn-outline-primary"><input type="checkbox" name="tagKT" >Kinh Tế</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagCT" >Chính Trị</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagXH" >Xã Hội</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagTG" >Thế Giới</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagVT" >Vũ Trụ</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagCN" >Công Nghệ</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagDA" >Điện Ảnh</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagPL" >Pháp Luật</a>&nbsp;
                            <a class="btn btn-outline-primary"><input type="checkbox" name="tagGD" >Giáo Dục</a>&nbsp; --}}

                            {{!-- LOAD TAGS --}}
                            {{#each tags}}
                            <a class="btn btn-outline-primary mx-1 my-1">
                                <input class="" type="checkbox" name="{{id}}"> {{name}}
                            </a>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <div class="">
                    <textarea id="summary" name="summary" required class="form-control" type="text"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" required name="content"></textarea>
            </div>
        </div>
        {{#if isAuthenticated}}
        <input type="hidden" name="writer_id" value="{{authUser.id}}">
        {{/if}}
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>